html, body {
    margin: 0;
    padding: 0;

}

#cookieWarning {
    position: absolute;
    bottom: 0;
    border: 1em;
    width: 100%;
    text-align: center;
    background-color: burlywood;
}
#closeButton {
    position: absolute;
    right: 0;
    background-color: gray;    
}